<br/>
<hr/>
<section id="footer">
<div class="container-footer">
  <div class="panel-footer">
      <!-- <div class="row">
		<div class="col-sm-5">
		    <h5>About</h5>	
            <p>{{ site.affiliation }}</p>
		</div>

		  <div class="col-sm-2"></div>

		<div class="col-sm-5">
		    <h5>Contact</h5>
            <p>{{ site.contact }}</p>
		</div>

		 <div class="col-sm-4">
		    <h5>Coordinates</h5>	
            <p>{{ site.location }}</p>
		</div>
	  </div> -->

      <center>
          <p>Last updated on Sep, 2024&nbsp;&nbsp; |&nbsp;&nbsp; <a href="https://github.com/sbryngelson/academic-website-template"><i class="fa fa-github fa-1x"></i>Site template</a>
              <br>
            &copy {{ "now" | date: "%Y" }} {{site.title | escape }}
          </p>
      </center>
	</div>
  </div>
</div>

<script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | relative_url }}"></script>
